

.container {
    position: relative;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.container .card {
    position: relative;
    max-width: 250px;
    height: 215px;
    background: #fff;
    margin: 50px 30px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 150px rgba(0,0,0, 0.5);
    transition: 0.5s ease-in-out;
}
.container .card:hover {
    height: 430px;

}
.container .card .imgBX {
    position: absolute;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
}

img {
    width: 100%;
     border-radius: 20px;
}
img:hover {
}
.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

}
.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
 .contentBx h2{
    position: relative;
    font-weight: 400;
    color: rgb(139, 27, 27);
    padding-bottom: 5px;
}
.contentBx .size,
 .contentBx .color
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
 .contentBx .size{
    opacity: 1;
    visibility: visible;
    transition-delay:0.5s;
}
 .contentBx .color{
    opacity: 1;
    visibility: visible;
    transition-delay:0.6s;
}
 .contentBx .size h3,
 .contentBx .color h3
{
    color: rgb(216, 65, 65);
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
    margin-top: 2px;

}
.contentBx .size span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: 0.5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}
 .contentBx .size span:hover{
    background: #9bdc28;
}
.contentBx .color span{
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.contentBx .color span:nth-child(2){
background: #9bdc28;
}
.contentBx .color span:nth-child(3){
    background: #03a9f4;
}
.contentBx .color span:nth-child(4){
        background: #e91e63;
}
.contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: rgb(135, 230, 72);
    border-radius:4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
} 
.card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}