.content{
    margin: 2%  !important;
}
.link {
    background-color: rgba(0, 0, 0,.6);
    justify-content: center;


}


.navbar-brand {
    margin-left: 30px;
    opacity: 0;
    animation: logo 1s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes logo {
    0% {
        opacity: 1;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


nav ul li {
    position: relative;
    transition: 0.5s;
    margin: 8px;
    opacity: 0;
    animation: nav 1s ease-in-out forwards;
    font-family: 'Merienda', cursive;
}

@keyframes nav {
    0% {
        opacity: 0;
        transform: translateX(500px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

nav ul li:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: 0.5s;
    background-color: rgb(247, 53, 27);
}

nav ul li:hover:before {
    width: 90%;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    text-align: center;
    float: left;
}

